.page-title {
  // font-size: 50px;
  // margin-top: 50px;
  margin-bottom: 20px;
  // padding-top: 30px;
  // border: 3px solid red;
}

// .homepage-link-top {
//   // display: inline-block;
//   // float: left;
//   margin: 10px;
//   border-radius: 5px;
//   padding: 10px;
//   border: 4px solid $darkGrey;
//   background-color: $blue;
//   color: $darkGrey;
// 	text-decoration: none;
// 	margin-top: 80px;
//
// 	a{
// 		text-decoration: none;
// 		color: $darkGrey;
// 		text-align: center;
// 		&:hover{
// 			color: $yellow;
// 			pointer: hand;
// 		}
// 	}
// }

.post-job-button{
  display: inline-block;
  height: 45px;
  width: 60%;
  vertical-align: middle;
  padding-top: 7px;
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  border: 2px solid $darkGrey;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgba($darkGrey, .2);
  color: $darkGrey;

  &:hover{
  background-color: $darkGrey;
  color: $white;
    &:visited{
      color: $white;
    }
  }

  &:visited{
    color: $darkGrey;
  }
}

.new-job{
	border: solid black 1px;
	border-radius: 3px;
	padding: 10px;
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba($blue, .95);
	color: $darkGrey;
	box-shadow: 8px 8px 5px #888888;

	div {
		display: inline-block;
		margin-right: 20px;
		margin-left: 20px;
    margin-top: 10px;

	}
	a {
		color: $darkGrey;
		font-size: 25px;
		text-decoration: none;
		&:hover{
			color: $yellow;
		}
	}

	.location{
		margin-left: 100px;
	}

	.left{
		float: left;
  	text-align: left;
    h2{
      margin-bottom: 5px;
    }
	}

	.right{
    margin-top: 4px;
		float: right;
    text-align: right;
    p:first-child{
      margin-bottom: 6px;
    }
	}

	.bottom{
		clear: both;
		display: block;
		text-align: center;
		div{
			display: block;
		}
		.description {
      font-family: Abel;
      font-weight: bold;
      font-size: 1.1em;
			// width: 100%;
      // height: 35px;
      border-radius: 5px;
			&:hover{
				// background: $lightGrey;
				// color: white;
				// padding: 8px;
				// border-radius: 8px;
				cursor: pointer;
			}
		}
		#job {
			display: none;
			padding: 15px;
			text-align: left;
      background-color: rgba($white, .3);
      border-radius: 3px;
		}
	}
}

.job-postings {
  margin-bottom: 100px;
}
