#not-logged-in {
  display: inline-block;
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
  background-color: rgba($lightGrey, 1);
}

body {
  font-family: 'Abel', normal;
  color: $darkGrey;
  opacity: 50%;

}

#layer {
  // background-color: rgba(000, 000, 000, .90);
  width: 100%;
  height: 100%;
  position: absolute;
}

.background {
background-image: url('../images/CoBBB-logo.png');
background-size: 55% auto;
background-repeat: repeat-x;
width: 100%;
height: 65%;
}

.container{
  margin-top: 100px;
}

strong{
  font-weight: bolder;
}

h1{
  font-size: 2em;
}

.num{
  float:left;
}

.thumb{
  float:left;
}

.likes{
  margin-left: 70px;
}

.posted{
  top:0px;
  margin: 10px;
  width: 100%;

}
