#not-logged-in {
  display: inline-block;
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $AbelFont;
  background-color: rgba($white, 1);
  background-image: url('../images/CoBBB-logo.png');
  opacity: 50%;
  background-size: 80% auto;
  width: 100%;
  height: 100%;
}

.layer {
  background-color: rgba(255, 255, 255, .95);
  width: 100%;
  height: 100%;
  position: absolute;
}
