.message{
  border: 1px solid black;
  display: inline-block;
  //width: 300px;
  // margin:20px;
	text-align: left;
	border: solid black 1px;
	border-radius: 3px;
	padding: 15px;
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
  box-shadow: 8px 8px 5px #888888;
  background-color: rgba($blue, .95);

  .delete{
    
  }

}

.thumb{
  display: inline-block;
  float:right;
  // border: 2px solid $red;
}

.thumbs-up{
  margin-right: 10px;
}

// .likes{
//   display: inline-block;
//   margin-left: 70px;
// }

.posted{
  display: inline-block;
  float: left;
  top:0px;
  p:last-of-type{
    font-size: .9em;
    margin-top: 1 px;
  }
  // margin: 10px;
  // width: 100%;
  // border: 2px solid green;

}

.subject{
  clear: both;
  margin-top: 50px;
  p:first-of-type{
    font-size: 1.2em;
    // color: red;
    margin-bottom: 10px;
  }
  p:last-of-type{
    background-color: rgba($lightGrey, .9);
    padding: 15px;
    border-radius: 3px;
    // background-image: url("../images/CoBBB-subtle.png");
  }
}

// .fa-paper-plane{
//   float: right;
//   margin-right: 20px;
// }
