.message{
  border: 1px solid black;
  display: inline-block;
	text-align: left;
	border: solid black 1px;
	border-radius: 3px;
	padding: 15px;
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
  box-shadow: 8px 8px 5px #888888;
  background-color: rgba($blue, .95);


  .delete{
    font-family: Abel;
    font-size: .9em;
    font-weight: bold;
    border-radius: 5px;
    color: $red;
    background: none;
    border: none;
    text-decoration: none;
    &:hover{
      cursor: pointer;
    }
  }

}

.thumb{
  display: inline-block;
  float:right;
}

.thumbs-up{
  margin-right: 10px;
}


.posted{
  display: inline-block;
  float: left;
  top:0px;
  p:last-of-type{
    font-size: .9em;
    margin-top: 1 px;
  }

}

.subject{
  clear: both;
  margin-top: 50px;
  p:first-of-type{
    font-size: 1.2em;
    margin-bottom: 10px;
    display: inline-block;
  }
  p:last-of-type{
    background-color: rgba($lightGrey, .9);
    padding: 15px;
    border-radius: 3px;
  }
  form{
    display: inline-block;
    float: right;
  }

}
