
#login-modal {
  width: 50%;
  border: solid $darkGrey 5px;
  box-shadow: 0 0 5px 2px rgba($green, 1);
}

.login-signup {
  display: inline-block;
  width: 50%;
  float: left;
  div {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  label {
    display: inline-block;
    width: 200px;
  }
  input {
    display: inline-block;
    // margin-left: 200px;
  }
}

.deletemodal{
  height: 40px;
}

input[type="text"], input[type="password"], input[type="email"]{
  width: 150px;
  height: 25px;
}

input{
  font-family: $AbelFont;
  font-style: italic;
}

input[type="button"]{
  font-size: 1em;
  font-weight: bold;
  background-color: $white;
  font-style: normal;
  border: 2px solid $darkGrey;
  border-radius: 5px;
  color: $darkGrey;

  &:hover{
    background-color: $blue;
  }
}

#close-modal{
  float:right;
  // height: 25px;
  border: 2px solid $white;
  background-color: $red;
  color: $white;

  &:hover{
    border: 2px solid $red;
    background-color: $white;
    color: $red;
  }
}

.login{
  border-right: solid $darkGrey 2px;
  box-sizing: border-box;
  // float: left;
}

.signup{
  // float: left;
}
