

.your-jobs{
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 45%;
  float: left;
  margin-left: 20px;
  max-height: 40%;
}

.your-messages{
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 45%;
  float: right;
  margin-right: 20px;
  max-height: 40%;
}

.my-message{
  text-align: left;
  display: inline-block;
  width: 100%;
    vertical-align: top;
  p{
    margin-bottom: 5px;
  }
  p:first-of-type{
    font-size: 1.2em;
  }
  p:last-of-type{
    float: right;
  }
}

.new-job.my-job, .new-job.my-message{
  width: 90%;
}

.page-subheader{
  margin-bottom: 10px;
}

#delete-profile{
  padding: 6px;
  border-radius: 5px;
		color: $red;
    background-color: $white;
    border: 2px solid $red;
	text-decoration: none;
	&:hover{
	color: $white;
  background-color: $red;
	}
}
