#profile-heading {
  margin-top: 80px;
}

.page-subheader {
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.post {
  width: 60%;
  margin: 0 auto;
  padding: 2%;
  border-radius: 4px;
  box-shadow: 0px 10px 10px rgba(0,0,0,.2);

  .job-info {
    .job-title {
      font-size: 18px;
      margin-bottom: 10px;
      float: left;
    }
    .job-details {
      clear: left;
      text-align: left;

      .job-location {
        font-weight: bold;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .job-description {
        h4 {
          display: inline-block;
          margin-right: 1%;
          font-weight: bold;
        }
        p {
          display: inline-block;
        }
        padding-top: 10px;
        padding-bottom: 10px;

      }

    }
  }

}

.delete-item {
  margin-top: 10px;
  display: inline-block;
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a {
    // -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    // -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    // box-shadow:inset 0px 1px 0px 0px #cf866c;
    // background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff3b05), color-stop(1, #bc3315));
    // background:-moz-linear-gradient(top, #ff3b05 5%, #bc3315 100%);
    // background:-webkit-linear-gradient(top, #ff3b05 5%, #bc3315 100%);
    // background:-o-linear-gradient(top, #ff3b05 5%, #bc3315 100%);
    // background:-ms-linear-gradient(top, #ff3b05 5%, #bc3315 100%);
    // background:linear-gradient(to bottom, #ff3b05 5%, #bc3315 100%);
    // filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b05', endColorstr='#bc3315',GradientType=0);
    // background-color:#ff3b05;
    // -moz-border-radius:3px;
    // -webkit-border-radius:3px;
    // border-radius:3px;
    // border:1px solid #942911;
    // display:inline-block;
    // cursor:pointer;
    // color:#ffffff;
    // font-size:15px;
    // padding:6px 24px;
    // text-decoration:none;
    // text-shadow:0px 1px 0px #854629;
  }
  a:hover {
    // text-decoration: none;
    // background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #ff3b05));
    // background:-moz-linear-gradient(top, #bc3315 5%, #ff3b05 100%);
    // background:-webkit-linear-gradient(top, #bc3315 5%, #ff3b05 100%);
    // background:-o-linear-gradient(top, #bc3315 5%, #ff3b05 100%);
    // background:-ms-linear-gradient(top, #bc3315 5%, #ff3b05 100%);
    // background:linear-gradient(to bottom, #bc3315 5%, #ff3b05 100%);
    // filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#ff3b05',GradientType=0);
    // background-color:#bc3315;
  }
  a:active {
    text-decoration: none;
    position:relative;
    top:1px;
  }
}
