extends layout
block content
  div.links
    div.homepage-link
      a(href='/jobs/alljobs') Job Board
    div.homepage-link
      a(href='/messages') Message Board
    if userId
      div.homepage-link
        a(href='/profile') My Profile
  div.background
