extends layout

block content
  h1= title
  div.add-job
    if userId
      a(id="add-job" href='/newjob') Post a job to the board
    else
      div
        p(id="not-logged-in") Post a job to the board
        include ./partials/authModal.jade
