#close-modal {
  text-align: right; }

#login-modal {
  width: 50%; }

.login-signup {
  display: inline-block;
  width: 50%;
  float: left; }
  .login-signup div {
    margin-bottom: 5px;
    margin-top: 5px; }
  .login-signup label {
    display: inline-block;
    width: 200px; }
  .login-signup input {
    display: inline-block; }

#not-logged-in {
  display: inline-block;
  cursor: pointer; }

.message{
  border: 1px solid black;
  display: inline-block;
  width: 300px;
  margin:20px;
}

.delete{
 float: right;
}

i{
  font-size: 10px;
}
