@import url(http://fonts.googleapis.com/css?family=Abel);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*END OF RESET*/
#close-modal {
  text-align: right; }

.message {
  border: 1px solid black;
  display: inline-block;
  width: 300px;
  margin: 20px; }

.delete {
  float: right; }

#layer {
  text-align: center; }

.links {
  display: inline-block;
  margin-top: 8%;
  margin-bottom: 2%; }

.page-title {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 20px; }

.center-link {
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 4px solid #4A4B4E;
  background-color: #7ECCE9;
  color: #4A4B4E; }
  .center-link:hover {
    background-color: #B5C496;
    position: relative;
    cursor: pointer; }

.homepage-link {
  display: inline-block;
  float: left;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 4px solid #4A4B4E;
  background-color: #7ECCE9;
  color: #4A4B4E;
  text-decoration: none; }
  .homepage-link:hover {
    background-color: #B5C496;
    position: relative;
    top: -5px; }
  .homepage-link a {
    color: #4A4B4E;
    text-decoration: none;
    font-size: 2em; }
    .homepage-link a:visited {
      color: #4A4B4E; }

#nav-links {
  float: right;
  padding: 10px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.5em;
  color: #4A4B4E; }
  #nav-links a {
    text-decoration: none;
    margin-left: 10px;
    color: #4A4B4E; }
    #nav-links a:visited {
      color: #4A4B4E; }
    #nav-links a:hover {
      text-shadow: 0 0 5px #b5c496; }

#navigation {
  position: fixed;
  background-color: #FBE975;
  height: 55px;
  width: 100%;
  border-bottom: solid 4px #4A4B4E; }
  #navigation .welcome {
    float: left;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.5em;
    color: #4A4B4E; }
    #navigation .welcome:hover {
      text-shadow: 0 0 5px #b5c496; }
  #navigation .logged:hover {
    cursor: pointer;
    color: #4A4B4E; }
  #navigation .logged {
    text-decoration: none;
    color: #4A4B4E; }
    #navigation .logged:visited {
      color: #4A4B4E; }

.new-job {
  border: solid black 1px;
  border-radius: 3px;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left; }
  .new-job div {
    display: inline-block;
    margin-right: 20px; }
  .new-job .location {
    margin-left: 100px; }
  .new-job .left {
    float: left; }
  .new-job .right {
    float: right; }
  .new-job .bottom {
    clear: both;
    display: block; }
    .new-job .bottom div {
      display: block; }

.bikes {
  height: 500px;
  background-image: url("../images/CoBBB-logo-bottom-only.png");
  background-size: 100% 100%; }

#not-logged-in {
  display: inline-block;
  cursor: pointer; }

html {
  width: 100%;
  height: 100%;
  background-color: #f8f7f7; }

body {
  font-family: 'Abel', normal;
  color: #4A4B4E;
  opacity: 50%; }

#layer {
  width: 100%;
  height: 100%;
  position: absolute; }

.background {
  background-image: url("../images/CoBBB-logo.png");
  background-size: 55% auto;
  background-repeat: repeat-x;
  width: 100%;
  height: 65%; }

#login-modal {
  width: 50%;
  border: solid #4A4B4E 5px;
  box-shadow: 0 0 5px 2px #fbe975; }
  #login-modal .login-signup {
    display: inline-block;
    width: 50%;
    float: left; }
    #login-modal .login-signup div {
      margin-bottom: 5px;
      margin-top: 5px; }
    #login-modal .login-signup label {
      display: inline-block;
      width: 200px; }
    #login-modal .login-signup input {
      display: inline-block; }
  #login-modal .deletemodal {
    height: 40px; }
  #login-modal input[type="text"], #login-modal input[type="password"], #login-modal input[type="email"] {
    width: 150px;
    height: 25px; }
  #login-modal input {
    font-family: "Abel";
    font-style: italic;
    font-size: 1.1em; }
  #login-modal input[type="button"] {
    font-size: 1em;
    font-weight: bold;
    background-color: #F7F6F6;
    font-style: normal;
    border: 2px solid #4A4B4E;
    border-radius: 5px;
    color: #4A4B4E; }
    #login-modal input[type="button"]:hover {
      background-color: #7ECCE9; }
  #login-modal #close-modal {
    float: right;
    border: 2px solid #F7F6F6;
    background-color: #DF2425;
    color: #F7F6F6; }
    #login-modal #close-modal:hover {
      border: 2px solid #DF2425;
      background-color: #F7F6F6;
      color: #DF2425; }
  #login-modal .login {
    border-right: solid #4A4B4E 2px;
    box-sizing: border-box; }

#new-job-form {
  display: inline-block;
  width: 40%;
  border: 4px solid #4A4B4E;
  border-radius: 5px;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: left;
  background-color: #7ecce9;
  box-shadow: 0 0 10px 2px rgba(74, 75, 78, 0.5); }
  #new-job-form input {
    width: 100%;
    height: 35px; }
  #new-job-form input, #new-job-form textarea {
    font-family: "Abel";
    font-size: 1.1em;
    margin: 5px auto;
    background-color: #F7F6F6;
    border: 1px solid rgba(74, 75, 78, 0.5);
    border-radius: 3px;
    padding: 5px;
    padding-right: 0;
    box-sizing: border-box; }
  #new-job-form input[type="submit"] {
    height: 55px;
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    border: 2px solid #4A4B4E;
    border-radius: 5px;
    background-color: #F7F6F6;
    color: #4A4B4E; }
    #new-job-form input[type="submit"]:hover {
      background-color: #4A4B4E;
      color: #F7F6F6; }
  #new-job-form input[type='date'] {
    width: 200px; }
  #new-job-form textarea {
    width: 100%; }
  #new-job-form #experience, #new-job-form #description {
    height: 200px; }
  #new-job-form #contact {
    height: 100px; }
  #new-job-form input:focus, #new-job-form textarea:focus {
    outline: 0;
    box-shadow: 0 0 5px #4a4b4e;
    border: 2px solid #4a4b4e; }
  #new-job-form .errors {
    color: #DF2425;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px; }
  #new-job-form .form-p {
    font-size: 1.1em; }
  #new-job-form .form-title {
    font-size: 1.1em;
    margin-bottom: 5px; }

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../images/CoBBB-logo-bikes-only.png");
  background-position: bottom;
  background-repeat: repeat-x; }

.subtle-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url("../images/CoBBB-subtle.png"); }
