extends ../layout

block content
  h1 Add a New Job
  div.subtle-background
  div.cover
  form#new-job-form(action="/jobs/newjob", method="post")
    if errors
      ol.errors
        each err in errors
          li= err
    p.form-title Enter job information below:
    input(type="text" id="title" name="title" placeholder="Job Title" autofocus)
    p
    input(type="text" id="company" name="company" placeholder='Company Name')
    p
    input(type="text" id="location" name="location" placeholder="Location (i.e. City, State)")
    p
    textarea(type="text" id="description" name="description" placeholder='Job Description')
    p
    textarea(type="text" id="experience" name="experience" placeholder='Qualifications/Experience')
    //- div#dynamicInput
    //-   label(for="requirements") Requirements
    //-   input(type="text" name="myInputs[]")
    //- p
    //- input(type="button" value="Add Requirement" onClick="addRequirement()")
    p.form-p
      Strong
      label(for="activate") Activation - When do you want the posting to go live on the site?
    p
      input(type="date" id="activate" name="activate")
    p.form-p
      Strong
      label(for="expiry") Expiration - When do you want the posting to come off the site?
    p
      input(type="date" id="expiry" name="expiry")
    p
    textarea(type='text' id='contact' name='contact' placeholder='Contact Information')
    p
    input(type="text" id="source" name="source" placeholder='Link to external posting')
    p
    input(type="submit" value="Post Job")
 script(src="/dom.js")
